.title_management {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: black;
    margin-top: 20px;
}

.link_comeback {
    text-decoration: none;
    color: #FFA07A;
    font-size: 18px;
    font-weight: 600;
}

    .link_comeback:hover {
        text-decoration: none;
        color: #FFA07A;
        font-size: 18px;
        font-weight: 600;
    }

.txt_search {
    color: #FFA07A;
    padding: 8px;
    border: solid 3px #FFA07A;
    background-color: white;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
}

.btn_primary {
    color: #FFA07A;
    padding: 8px;
    border: solid 3px #FFA07A;
    background-color: white;
    font-size: 16px;
    border-radius: 10px;
}

.btn_primary:hover {
    color: white;
    padding: 8px;
    border: solid 3px #FFA07A;
    background-color: #FFA07A;
    font-size: 16px;
    border-radius: 10px;
}

/*index.cshtml*/
.link_add {
    font-size: 20px;
    font-weight: 600;
}

.link_add > a {
    text-decoration: none;
    color: black;
}

.link_add > a:hover {
    text-decoration: none;
    color: red;
}

.link_edit-delete-detail {
    text-decoration: none;
    color: #FFA07A;
}

.link_edit-delete-detail:hover {
    text-decoration: none;
    color: #FFA07A;
}

.table {
    font-size: 13px;
}

/*create.cshtml*/
.form_create {
}

.form-textarea {
    display: inline-block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}